<header>
        
</header>

<div class = "trending">

	<div class = "trending-women">

		<div class = "trending-text"> Trending Women</div>
		<div class = "trending-women-images row">
			<div class="col-sm-3">
			<button class="col-sm-8" id ="trending-big">
				<div class="trending-big-image">
					<img src="http://fifawallpapers.com/wp-content/uploads/2014/07/Fan-7.jpg" height="200" width="220">
					<div class = "transparent-block-big"><p class="transparent-name">Rohit<p></div>
				</div>
				

			</button>

			<div class="col-sm-4" id ="trending-small">
				<button id="trending-small-top">
					<img src="https://s-media-cache-ak0.pinimg.com/736x/e0/01/28/e0012886059f8f980f8188a293075b49.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
				<button id="trending-small-bottom">
					<img src="https://s-media-cache-ak0.pinimg.com/236x/87/38/4a/87384ae81087a0810a24945df6f15041.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
			</div>
			</div>

			<button class="col-sm-2" id ="trending-big">
				<div class="trending-big-image">
					<img src="http://www.vogue.com/wp-content/uploads/2015/06/18/cara-delevingne-vogue-july-cover-2015.jpg" height="200" width="220">
					<div class = "transparent-block-big"><p class="transparent-name">Rohit<p></div>
				</div>
				

			</button>

			<div class="col-sm-1" id ="trending-small">
				<button id="trending-small-top">
					<img src="http://media.vogue.com/r/c_1,h_4000,w_3280/2016/04/05/gigi-hadid-zayn-malik-vogue-06.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
				<button id="trending-small-bottom">
					<img src="http://www.vogue.com/wp-content/uploads/2016/06/01/newsletter-0616-update.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
			</div>

			<button class="col-sm-2" id ="trending-big">
				<div class="trending-big-image">
					<img src="http://en.vogue.fr/uploads/images/thumbs/201606/21/965_mars_couv_2_jpg_9826_north_499x_white.jpg" height="200" width="220">
					<div class = "transparent-block-big"><p class="transparent-name">Rohit<p></div>
				</div>
				

			</button>

			<div class="col-sm-1" id ="trending-small">
				<button id="trending-small-top">
					<img src="https://s-media-cache-ak0.pinimg.com/236x/dd/75/8b/dd758b1a12a62feb42c5f366b6ab25fe.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
				<button id="trending-small-bottom">
					<img src="https://genderandsociety2013.files.wordpress.com/2013/09/screen-shot-2013-09-19-at-6-25-46-pm.png" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
			</div>

			<button class="col-sm-2" id ="trending-big">
				<div class="trending-big-image">
					<img src="http://akns-images.eonline.com/eol_images/Entire_Site/20091112/293.ad.Fox.111209.jpg" height="200" width="220">
					<div class = "transparent-block-big"><p class="transparent-name">Rohit<p></div>
				</div>
				

			</button>

			<div class="col-sm-1" id ="trending-small">
				<button id="trending-small-top">
					<img src="http://www.wallpaperup.com/uploads/wallpapers/2014/03/14/298638/big_thumb_d413bf254aa9508422d7f7174a037161.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
				<button id="trending-small-bottom">
					<img src="https://aotw-pd.s3.amazonaws.com/laima_woman.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
			</div>

		</div>




	</div>

	<div class = "trending-men">

		<div class = "trending-text">Trending Men</div>
		<div class = "trending-men-images row">
			<button class="col-sm-2" id ="trending-big">
				<div class="trending-big-image">
					<img src="http://sexiestmenalive.net/photos/Ryan-Gosling-standing-by-wall-photoshoot-in-black-and-white-for-GQ-magazine.jpg" height="200" width="220">
					<div class = "transparent-block-big"><p class="transparent-name">Rohit<p></div>
				</div>
				

			</button>

			<div class="col-sm-1" id ="trending-small">
				<button id="trending-small-top">
					<img src="http://sexiestmenalive.net/photos/Alex-Pettyfer-sugar-lad-magazine-wearing-a-black-shirt.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
				<button id="trending-small-bottom">
					<img src="http://65.media.tumblr.com/c329d954cf26f45ee7d1700dacd3f737/tumblr_nvexd6ph5S1u0qxwoo5_1280.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
			</div>

			<button class="col-sm-2" id ="trending-big">
				<div class="trending-big-image">
					<img src="http://sexiestmenalive.net/photos/inside-Flaunt-Magazine-black-and-white-photo.jpg" height="200" width="220">
					<div class = "transparent-block-big"><p class="transparent-name">Rohit<p></div>
				</div>
				

			</button>

			<div class="col-sm-1" id ="trending-small">
				<button id="trending-small-top">
					<img src="http://www.celebs.com/wp-content/uploads/2013/09/jgl-9-600x829.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
				<button id="trending-small-bottom">
					<img src="http://www.thefashionisto.com/wp-content/uploads/2016/01/Mens-Fitness-Matt-Bomer-Cover.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
			</div>

			<button class="col-sm-2" id ="trending-big">
				<div class="trending-big-image">
					<img src="https://andresmolier.files.wordpress.com/2014/09/32.jpg" height="200" width="220">
					<div class = "transparent-block-big"><p class="transparent-name">Rohit<p></div>
				</div>
				

			</button>

			<div class="col-sm-1" id ="trending-small">
				<button id="trending-small-top">
					<img src="" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
				<button id="trending-small-bottom">
					<img src="http://majoelias.sk/wp-content/uploads/2014/12/8ME1187-1024x683.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
			</div>

			<button class="col-sm-2" id ="trending-big">
				<div class="trending-big-image">
					<img src="http://majoelias.sk/wp-content/uploads/2014/12/8ME9240.jpg" height="200" width="220">
					<div class = "transparent-block-big"><p class="transparent-name">Rohit<p></div>
				</div>
				

			</button>

			<div class="col-sm-1" id ="trending-small">
				<button id="trending-small-top">
					<img src="http://www.modelsearchamerica.com/wp-content/uploads/2015/01/requirements-for-male-models.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
				<button id="trending-small-bottom">
					<img src="https://s-media-cache-ak0.pinimg.com/originals/09/4f/f6/094ff656c8d32e53b76af3735a25103b.jpg" height="100" width="110">
					<div class = "transparent-block-small"><p class="transparent-name">Rohit Rohit <p></div>
				</button>
			</div>

	</div>

</div>
</div>


<div class = "socialmedia">
	<div class = "social-head"> Follow us and know What we are upto</div>

	<div class = "row">
		<div class = "col-sm-2" id = "social-icons">

			<button id = "facebook-icon"><img src="https://image.freepik.com/free-icon/facebook-logo_318-49940.jpg" width="30" height= "30"></button>
			<button id = "instagram-icon"><img src="http://cdn.mysitemyway.com/icons-watermarks/flat-rounded-square-white-on-black/bfa/bfa_brands-instagram/bfa_brands-instagram_flat-rounded-square-white-on-black_512x512.png" width="30" height= "30"></button>
			<button id = "twitter-icon"><img src="https://image.freepik.com/free-icon/twitter-bird-in-a-rounded-square_318-41054.jpg" width="30" height= "30"></button>

		</div>
		<div class = "col-sm-6" id = "instagram-embed">
			<img src= "https://cdn.elegantthemes.com/blog/wp-content/uploads/2014/07/instagram-recent-photos-widget-pro.jpg" height="500" width="600">
		</div>
		<div class = "col-sm-4" id = "twitter-embed">
			<img src= "http://4.bp.blogspot.com/-BLjyGH3nXSg/ULkaXFXu1HI/AAAAAAAALw0/mqmnmXgYVHM/s400/M+Loves+M+mentions+Quiksilver+on+Twitter.jpg" height="500" width="400">
		</div>

	</div>
</div>

<div class = "fresh-faces">
	<div id="fresh-faces-heading">Fresh Faces</div>
	<div class = "row" >
		<button class= "col-sm-6" id = "fresh-face-images">
			
					<img src="https://images5.alphacoders.com/321/thumb-1920-321596.jpg" height="500" width="658">
					<div class = "fresh-faces-transparent"><p class="transparent-name">Rohit<p></div>
			
		</button>
		<button class= "col-sm-6" id = "fresh-face-images">
			
					<img src="http://www.nedc.com.au/files/photos/pages/bearded-man-in-rural-australia.jpg" height="500" width="658">
					<div class = "fresh-faces-transparent"><p class="transparent-name">Rohit<p></div>
			

		</button>
	</div>
</div>









<style type="text/css">
    .row {
    	width:100%;
    }
	body{
		padding:0;
		margin:0;
	}
	.trending{
		height:auto;
		background-color: black;
		padding-top:1px;
		padding-bottom:50px;
		text-align: center;
	}
	.trending-text {
		color: white;
		font-size: 25px;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		text-align: center;
		font-style: italic;
		margin-bottom: 30px;
		margin-top: 50px;
	}
	#trending-big,#trending-small{
		margin:0;
		padding:0;
	
		height:auto;
		
	}

	#trending-small-top, #trending-small-bottom {
		
		margin:0;
		padding:0;
		
		height:100px;
		position:relative;

	}

	.transparent-block-big{
		margin:0;
		padding:0;
		padding-top: 5px;
		height:40px;
		position:absolute; 
		bottom:0;
		width:220px;
		background: rgba(0, 0, 0, 0.5);
		text-align: center;
		z-index: 1;
	}
	.transparent-block-small{
		margin:0;
		padding:0;
		padding-top: 5px;
		height:40px;
		position:absolute; 
		bottom:0;
		width:110px;
		background: rgba(0, 0, 0, 0.5);
		text-align: center;
		z-index: 1;
		margin-bottom: 0;


	}
	.transparent-name {
		color:white;
		z-index: 2;	
	}
	button {
		margin:0;
		padding:0;
		border:none;
	}
	.socialmedia {
		height:650px;
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: white;
	}
	.social-head {
		border-top: 1px solid black;
		font-size: 30px;
		border-bottom: 1px solid black;
		text-align: center;
		font-style: italic;
		color: black;
		margin-bottom: 50px;
	}

	#social-icons{
		border:none;
		padding-top: 70px;
		text-align: center;
	}

	

	#instagram-embed{
		border: 1px:solid red;
		text-align: center;

	}

	#twitter-embed {}
	.fresh-faces {
		background-color: black;
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px
	}
	#fresh-faces-heading{
		color: white;
		font-size: 25px;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		text-align: center;
		font-style: italic;
		margin-bottom: 30px;
		
	}
	#fresh-face-images {
		margin:0;
		padding:0;
		border:none;
	}

	.fresh-faces-transparent {
		margin:0;
		padding:0;
		padding-top: 20px;
		height:80px;
		position:absolute; 
		bottom:0;
		width:658px;
		background: rgba(0, 0, 0, 0.5);
		text-align: center;
		z-index: 1;
	}

</style>
